@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 1rem;
  }

  .dark {
    /* --bg-main: slate-950 */
    --background: 222.2 47.4% 5%;

    /* --text-primary: slate-100 */
    --foreground: 210 40% 98%;

    /* --bg-surface: slate-900 */
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;

    /* --bg-surface: slate-900 */
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;

    /* --accent-primary: indigo-500 */
    --primary: 244.5 57.9% 66.3%;
    --primary-foreground: 210 40% 98%;

    /* --bg-muted: slate-800 */
    --secondary: 215.4 16.3% 46.9%;
    --secondary-foreground: 210 40% 98%;

    /* --bg-muted: slate-800 */
    --muted: 215.4 16.3% 46.9%;

    /* --text-muted: slate-500 */
    --muted-foreground: 215.4 16.3% 46.9%;

    /* --bg-muted: slate-800 */
    --accent: 215.4 16.3% 46.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    /* --border-subtle: slate-800 */
    --border: 215.4 16.3% 46.9%;
    --input: 215.4 16.3% 46.9%;
    --ring: 244.5 57.9% 66.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}