name: Deploy Services

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install / update dependencies
        run: |
          /root/expense-tracker-telegram-bot/bot-env/bin/pip install -r requirements.txt

      - name: Restart services
        run: |
          sudo systemctl restart telegrambot
          sudo systemctl restart expense-tracker
